body {
  background-color: #f6ffff;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  margin: 0px 0px 0px 0px;
}

@keyframes fadein{
  from { opacity: 0; }
  to { opacity: 1; }
}

section.title_and_pic{
display: flex;
flex-direction: column;
justify-content: flex-start;
font-family: "Nothing You Could Do", cursive;
font-size: 30px;
font-weight: bold;
padding-top: 30px;
padding-bottom: 0px;
padding-right: 40px;
color: black;
}

img.pic{
max-width: 500px;
height: auto;
padding-bottom: 40px;
}

section.num{
padding-top: 30px;
padding-right: 40px;
padding-left: 50px;
font-family:"Oswald", sans-serif;
font-size: 30px;
color: rgb(109, 162, 105);
}

section.info{
padding-top: 60px;
padding-right: 50px;
font-family: "Oswald", sans-serif;
animation: fadein 5s;
}

#titleblock{
  display: flex;
  background-image: url(../images/headerpic.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  font-weight: 300;
}

#titletext{
  color: white;
  max-width: 75%;
  animation: fadein 5s;
}

#titlepic{
  margin-top: 0px;
  margin-left: 0px;
}

.content{
  display:flex;
  justify-content: center;
}
